$webpackBlue: #74AFCB;
$yelpRed: #D32323;

.browse-header{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $webpackBlue;

    h1{
        font-size: 100px;
        text-transform: uppercase;
    }
}
.deal-item{
    display: inline-block;
    width: 250px;
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;

    div{
        width: 250px;
        height: 200px;
    }
    p{
        font-weight: lighter;
        width: 250px;
    }
}
#place{
    margin-top: 60px;
    color: lightgray;
}
#price{
    color: green;
    margin-top: 70px;
}
.deal-item-wrapper{
    width: 84%;
    margin:auto;
}