$webpackBlue: #74AFCB;
$yelpRed: #D32323;
a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    font-family: helvetica;
}
.home-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;

    input{
        width: 800px;
        height: 100px;
        background-color: transparent;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 3px solid white;
        font-size: 100px;
        outline: none;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    h1{
        font-size: 100px;
        text-align: center;
        text-transform: uppercase;
        color: $yelpRed;
        margin: 10px;

        span{
            color: $webpackBlue;
            font-weight: 100;
        }
    }
    // button{
    //     width: 200px;
    //     height: 100px;
    //     position: relative;
    //     top: -21px;
    //     background: transparent;
    //     border: 3px solid white;
    //     color: white;
    //     font-size: 30px;
    //     margin-left: 10px;
    // }
}
.content-container{
    background-color: rgba(0,0,0, .6);
    padding: 70px;
}
.video-container{
    position: absolute;
    min-width: 110vw;
    min-height: 110vh;
    z-index: -2;
}
.darken{
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: .35;
}